flows.json
[{"id":"8971931a56b99865","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d99c53df58771440","type":"rc-credentials","clientid":"DzlGCTbbRi2IkGS3-32V1Q","clientsecret":"hHs2GTk6STyhFWOoCpEaBwMY6xWRbhTK6hNLdg25BYWg","username":"+18582571566","password":"admin@123","extension":"101","name":"test"},{"id":"d559c98a9f8d4d48","type":"inject","z":"8971931a56b99865","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":180,"wires":[["e5c6753b8d631c33","0471fdaefe690d5b"]]},{"id":"a5b58ddb58bc5617","type":"debug","z":"8971931a56b99865","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":220,"wires":[]},{"id":"e5c6753b8d631c33","type":"exec","z":"8971931a56b99865","command":"curl --request POST \\   --url 'https://platform.devtest.ringcentral.com/restapi/v1.0/account/~/extension/~/sms' \\   --header 'accept: application/json' \\   --header 'authorization: Bearer U0pDMTJQMDFQQVMwMHxBQUJmM19lREF6R25Ic2J4T21kWFJ2azI3OUhoTU1YY2dHY2xDdlZ2cHo4aGJqaVVhYUc1VTZaNmlreHBrMnBudzNlSG1Yazd2TEt0LXJoSXMxeFVrS25rU2xGT2RYeUxKeURDck5ZcE9LekRvM1FDTnNCVHJCa01pTVJZajZNdTRtY0VXSTFPd2I3Nnl0QUcwTUhFM2l2dU0xT1JzX1pMNVQzOHhsY0g5TjN2VnZSUGpaMEFYamVjOFlHMzIwUnRrdHJOcUhrXzNUQllYbFZhUmFMMFF4MXhmRk1EZHpVZnpHV3gxTTVpbzVKeTVvTXlCYjZUSjIwSXFpbFl2Tk4ybUlKcF93OHw3ODVNbmd8ZDljU1IxNmNrX0VILW9iU1pjVDlIZ3xBUQ' \\   --header 'content-type: application/json' \\   --data '{\"from\":{\"phoneNumber\":\"+18582571566\"},\"to\":[{\"phoneNumber\":\"16475073501\"}],\"text\":\"test\"}'","addpay":"","append":"","useSpawn":"false","timer":"","winHide":true,"oldrc":false,"name":"test","x":390,"y":320,"wires":[["a5b58ddb58bc5617"],[],[]]},{"id":"0471fdaefe690d5b","type":"sms-send","z":"8971931a56b99865","rccreds":"d99c53df58771440","recipient":"16475073501","name":"test","x":310,"y":160,"wires":[["a5b58ddb58bc5617"]]}]