main.json
[{"id":"620af8bdfa4fb220","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d2b7852a.b05618","type":"exec","z":"620af8bdfa4fb220","command":"sudo curl -F \"upload=@/home/pi/Pictures/demo.jpg\" -F regions=us-ca -H \"Authorization: Token f810b687bf29403c17daca673188be26f4ea1fd9\" https://api.platerecognizer.com/v1/plate-reader/","addpay":false,"append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"cURL POST","x":830,"y":280,"wires":[["1ffd9483.014b3b"],[],[]]},{"id":"1ffd9483.014b3b","type":"json","z":"620af8bdfa4fb220","name":"JSON","pretty":false,"x":981.5,"y":295.5,"wires":[["9753406b.6d08e","5f3c3d58.fd75e4"]]},{"id":"9753406b.6d08e","type":"function","z":"620af8bdfa4fb220","name":"Identify Car","func":"var carPlate = \"YOUR_CAR_PLATE\";\nvar carModel = \"YOUR_CAR_MODEL\";\n\n//No car or car plate found in photo\nif(msg.payload.results.length === 0) {\n    msg.payload=0;\n    global.set(\"garageOpen\",\"0\");  \n}\n//If car plate and car model match\nelse if(msg.payload.results[0].plate==carPlate && msg.payload.results[0].vehicle.make_model[0].name==carModel) {\n    msg.payload=1;\n    global.set(\"garageOpen\",\"1\");  \n}\n//If car plate and car model don't match\nelse {\n    msg.payload=0;   \n    global.set(\"garageOpen\",\"0\");  \n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":391,"y":484.5,"wires":[["8b530f08.a5dbf"]]},{"id":"3630c78a.035728","type":"camerapi-takephoto","z":"620af8bdfa4fb220","filemode":"1","filename":"demo.jpg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"","imageeffect":"none","agcwait":"","name":"Take Photo","x":664,"y":281,"wires":[["d2b7852a.b05618"]]},{"id":"8b530f08.a5dbf","type":"switch","z":"620af8bdfa4fb220","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":531.5,"y":483,"wires":[["c2bbe2ac.f26ea","8fe08deb.7255e"],["491dea2b.a14d54"]]},{"id":"5f3c3d58.fd75e4","type":"debug","z":"620af8bdfa4fb220","name":"","active":true,"console":"false","complete":"false","x":1127,"y":260,"wires":[]},{"id":"4e5c105d.14285","type":"rpi-gpio in","z":"620af8bdfa4fb220","name":"GPIO4","pin":"4","intype":"tri","debounce":"25","read":false,"bcm":true,"x":210,"y":322,"wires":[["af21a185.21cd4"]]},{"id":"73147f6a.0129e","type":"switch","z":"620af8bdfa4fb220","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":517,"y":322,"wires":[["3630c78a.035728"],["691d92c5.692d5c"]]},{"id":"af21a185.21cd4","type":"function","z":"620af8bdfa4fb220","name":"Is Garage Open","func":"var garageOpen = global.get(\"garageOpen\"); \n\nif(garageOpen == \"1\"){\n    msg.payload = 1;\n}\nelse {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360.5,"y":322,"wires":[["73147f6a.0129e"]]},{"id":"c2bbe2ac.f26ea","type":"rpi-gpio out","z":"620af8bdfa4fb220","name":"GPIO17","pin":"17","set":"","level":"0","freq":"","out":"out","bcm":true,"x":1018.5,"y":432,"wires":[]},{"id":"8fe08deb.7255e","type":"delay","z":"620af8bdfa4fb220","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":709,"y":491,"wires":[["f2cc1ee4.e9841"]]},{"id":"f2cc1ee4.e9841","type":"function","z":"620af8bdfa4fb220","name":"Close Garage","func":"msg.payload=0;   \nglobal.set(\"garageOpen\",\"0\"); \nreturn msg;\n\n","outputs":1,"noerr":0,"x":869,"y":491,"wires":[["c2bbe2ac.f26ea"]]},{"id":"691d92c5.692d5c","type":"debug","z":"620af8bdfa4fb220","name":"","active":true,"console":"false","complete":"false","x":657,"y":329,"wires":[]},{"id":"491dea2b.a14d54","type":"debug","z":"620af8bdfa4fb220","name":"","active":true,"console":"false","complete":"false","x":706,"y":548,"wires":[]}]